@charset "UTF-8";
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  margin: 0 auto;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chathome {
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
}

.mychat {
  background-color: rgb(128, 255, 128);
  width: 100%;
  text-align: left;
  padding: 1px;
  margin: 1 auto;
}

.yourchat {
  background-color: rgb(128, 255, 255);
  width: 100%;
  text-align: right;
  padding: 1px;
  margin: 1 auto;
}

.myinfochat {
  font-size: 8px;
  width: 100%;
  width:fit-content;
  text-align: left;
  
}

.yourinfochat {
  font-size: 8px;
  width: 100%;
  width:fit-content;
  text-align: right;

}